*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
background-color: rgb(24, 22, 22);

}

 html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color:rgb(240, 234, 234);
}

@mixin flex-column($gap:0){
display: flex;
flex-direction:column;
gap: $gap;
}
section{
    max-width: 2000px;
}

main{
    width: 100%;
    align-items: center;
    @include flex-column(0rem);

section{
    width: 100%;
       @include flex-column(2rem);
    padding: 1rem;

    .top{
        width: 100%;

        img{
            width: 100%;
            border-radius: 10px;
        }
    }

    .bottom{
        width: 100%;
        @include flex-column(1.5rem);
background-color: rgb(32, 30, 30);
        padding: 1rem;
        border-radius: 10px;
    
        
        .text{
         @include flex-column(0.7rem);
         margin-top: 3rem;

         h1{
                font-weight: 400;
                font-size: 2.5rem;
                 line-height: 3rem;
                text-transform: uppercase;
            }

            p{
             opacity: 0.7;
             font-size: 1.2rem;
             font-weight: 300;
         line-height: 2rem;

            }

             button{
                width: fit-content;
                background-color: transparent;
                border: none;
                color:#ffffff;
                font-size: 0.9rem;
                margin-top: 1.7rem;
                
             } 
                

        } 
    }
}
}

@media (min-width: 900px){
 main{

    section{
        flex-direction: row;
        .top,.bottom{
            width: 50%;
        }
        .bottom{
            justify-content: space-between;
            padding: 3rem;

           .text{    
            gap: 2rem;
             h1{
                font-size: 3.5rem;
            } } 
        }
    }
 }
}

    

