*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
background-color: rgb(24, 22, 22);

}

 html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color:rgb(240, 234, 234);
}

@mixin flex-column($gap:0){
display: flex;
flex-direction:column;
gap: $gap;
}

main{
    width: 100%;
    @include flex-column(0rem);

section{
    width: 100%;
       @include flex-column(2rem);
    padding: 1rem;

    .top{
        width: 100%;

        img{
            width: 100%;
            border-radius: 10px;
        }
    }

    .bottom{
        width: 100%;
        @include flex-column(1.5rem);
background-color: rgb(32, 30, 30);
        padding: 1rem;
        border-radius: 10px;
    
        
        .text{
         @include flex-column(0.7rem);

         h1{
                font-weight: 400;
                font-size: 2.7rem;
                 line-height: 3rem;
        
            }

            p{
             opacity: 0.7;
             font-size: 1.4rem;
             font-weight: 200;
         line-height: 2rem;

            }

             button{
                width: fit-content;
                padding: 1rem;
             }
        }
    }
}
}
